GCP_PROJECT="YOURPROJECT"
GCP_REGION="europe-west1"
MODEL_NAME="gemini-2.5-flash"

VERTEX_SYSTEM_INSTRUCTION_1="You are a helpful assistant.
                            You answer user's questions, sometimes you will be given some context. 
                            Do not ask for clarification or additional information.
                            If the user doesn't provide information, make a reasonable assumption."

MONGODB_URI = "mongodb+srv://YOURUSER:YOURPASSWORD@YOURCLUSTER.mongodb.net/?retryWrites=true&w=majority&appName=rag.py"
MONGODB_DB_NAME="users"
